{{> header}}

    <h1>Detalles del Usuario</h1>
    <p>Nombre: {{usuario.nombre}}</p>
    <p>Edad: {{usuario.edad}}</p>
    <p>Email: {{usuario.email}}</p>
    <a href="/">Volver a la lista de usuarios</a>

{{> footer}}
